html { font-size: 100%; }

body { font-family: Verdana, sans-serif; display: flex; height: 100%; margin: 0; }

/* Top-level containers */
div#main-container { display: flex; flex-grow: 1; }
div#app-top { display: flex; flex-grow: 1; }
div#timer-top { display: flex; flex-grow: 1; }

/* Menus */
div.modal { position: absolute; top: 0; left: 0; width: 20em; max-height: 70%; border-radius: 5px 5px 30px 5px; padding-top: 0.5em; padding-left: 0.5em; padding-bottom: 0.5em; z-index: 15; background: #FFF; }
div.modal-background { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; background-color: rgba(0,0,0,0.5); }

div.modal > div.menu-button { width: 100%; margin-top:1px; margin-bottom:1px; padding-top:1px; padding-bottom:1px; cursor: default; border-radius: inherit; }
div.modal > div.menu-button:hover { background: #CCCCCC; background: linear-gradient(90deg, rgba(150, 150, 255, 1) 0%, rgba(255, 255, 255, 1) 90%); }

/* Contains the full timer */
div#timer-container { display: flex; flex-direction: column; flex-grow: 1; }

/* Game title */
div#timer-title { font-size: 1.5rem; text-align: center; }

/* Category name */
div#timer-subtitle { font-size: 1.25rem; text-align: center; }

/* Main timer showing the full running time */
div#main-timer
{
  border-top: 1px solid gray; border-bottom: 1px solid gray;
  font-size: 3.25rem; font-weight: bold; letter-spacing: -4px;
  text-align: center; width: 100%;
  font-family: Verdana, monospace;
}

div#main-timer.neutral        { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
div#main-timer.gaining.ahead  { background: -webkit-linear-gradient(#beb, #030); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
div#main-timer.losing.ahead   { background: -webkit-linear-gradient(#cec, #131); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
div#main-timer.gaining.behind { background: -webkit-linear-gradient(#ecc, #311); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
div#main-timer.losing.behind  { background: -webkit-linear-gradient(#ebb, #300); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
div#main-timer::after         { content: " "; white-space: pre; font-size: 1.25rem; }

/* Time offset +/- indicator, used in split rows and main timer */
span.time-sign      { visibility: hidden; }
span.time-show-sign { visibility: visible !important; }

/* Contains segment rows */
div#splits-container { display: flex; flex-direction: column; flex-grow: 1; }

/* Contains headers with column descriptions */
div.segments-header            { }
div.segments-header>div.header { align-items: center; display: inline; justify-content: center; }

div.split-column                     { display: inline; }

/* Display of segments */
div.segment                  { display: flex; flex-wrap: wrap; }
div.segment div.segment-name { padding-left: 0.2rem; color: black; font-size: 1.25rem; font-weight: bold; }

div.segment.even            { background-color: rgba(0, 0, 0, 0.10); }

/* Denotes the currently active split */
div.segment.current        { background-color: rgba(0, 128, 255, 0.25) !important; }

/* Colors for +/- splits */
div.segment.ahead.gaining  { -webkit-text-fill-color: #007000; text-shadow: 0px 0px 4px black; }
div.segment.ahead.losing   { -webkit-text-fill-color: #009000; text-shadow: 0px 0px 4px black; }
div.segment.behind.gaining { -webkit-text-fill-color: #800000; text-shadow: 0px 0px 4px black; }
div.segment.behind.losing  { -webkit-text-fill-color: #700000; text-shadow: 0px 0px 4px black; }
div.segment.gold           { -webkit-text-fill-color: #FFD700; text-shadow: 0px 0px 4px black; }

/* Headers */
div.segments-header                                 { display: flex; }
div.segments-header>div                             { text-align: center; display: flex; }
div.segments-header>div.header.pb                   { display: none; }
div.segments-header>div.header.gold                 { display: none; }
div.segments-header>div.header.average              { display: none; }
div.segments-header>div.header.worst                { display: none; }
div.segments-header>div.header.split                { display: none; }
div.segments-header>div.header.running.pb           { display: flex; width: 33%; order: 3; }
div.segments-header>div.header.running.gold         { display: none; }
div.segments-header>div.header.running.average      { display: none; }
div.segments-header>div.header.running.worst        { display: none; }
div.segments-header>div.header.running.split        { display: none; }
div.segments-header>div.header.diff.pb              { display: flex; width: 33%; order: 2; }
div.segments-header>div.header.diff.gold            { display: flex; width: 33%; order: 1; }
div.segments-header>div.header.diff.average         { display: none; }
div.segments-header>div.header.diff.worst           { display: none; }
div.segments-header>div.header.running-diff.pb      { display: none; }
div.segments-header>div.header.running-diff.gold    { display: none; }
div.segments-header>div.header.running-diff.average { display: none; }
div.segments-header>div.header.running-diff.worst   { display: none; }

/* All individual split segments.  Use this to modify order/display properties/etc. */
div.segment>div.split-column                  { display: none; flex-wrap: nowrap; flex-grow: 0; align-items: flex-end; padding-right: 2px; color: black; font-size: 1.25rem; font-weight: bold; }
div.segment>div.split-column>span             { display: flex; margin-left: auto; }
div.segment>div.segment-name                  { width: 100%; }

div.segment.upcoming>div.pb                   { display: flex; width: 33%; order: 2; }
div.segment.upcoming>div.gold                 { display: flex; width: 33%; order: 1; }
div.segment.upcoming>div.average              { display: none; }
div.segment.upcoming>div.worst                { display: none; }
div.segment.upcoming>div.split                { display: none; }
div.segment.upcoming>div.running.pb           { display: flex; width: 33%; order: 3; }
div.segment.upcoming>div.running.gold         { display: none; }
div.segment.upcoming>div.running.average      { display: none; }
div.segment.upcoming>div.running.worst        { display: none; }
div.segment.upcoming>div.running.split        { display: none; }
div.segment.upcoming>div.diff.pb              { display: none; }
div.segment.upcoming>div.diff.gold            { display: none; }
div.segment.upcoming>div.diff.average         { display: none; }
div.segment.upcoming>div.diff.worst           { display: none; }
div.segment.upcoming>div.running-diff.pb      { display: none; }
div.segment.upcoming>div.running-diff.gold    { display: none; }
div.segment.upcoming>div.running-diff.average { display: none; }
div.segment.upcoming>div.running-diff.worst   { display: none; }

div.segment.current>div.pb                   { display: flex; width: 33%; order: 2; }
div.segment.current>div.gold                 { display: flex; width: 33%; order: 1; }
div.segment.current>div.average              { display: none; }
div.segment.current>div.worst                { display: none; }
div.segment.current>div.split                { display: none; }
div.segment.current>div.running.pb           { display: flex; width: 33%; order: 3; }
div.segment.current>div.running.gold         { display: none; }
div.segment.current>div.running.average      { display: none; }
div.segment.current>div.running.worst        { display: none; }
div.segment.current>div.running.split        { display: none; }
div.segment.current>div.diff.pb              { display: none; }
div.segment.current>div.diff.gold            { display: none; }
div.segment.current>div.diff.average         { display: none; }
div.segment.current>div.diff.worst           { display: none; }
div.segment.current>div.running-diff.pb      { display: none; }
div.segment.current>div.running-diff.gold    { display: none; }
div.segment.current>div.running-diff.average { display: none; }
div.segment.current>div.running-diff.worst   { display: none; }

div.segment.previous>div.pb                   { display: none; }
div.segment.previous>div.gold                 { display: none; }
div.segment.previous>div.average              { display: none; }
div.segment.previous>div.worst                { display: none; }
div.segment.previous>div.split                { display: none; }
div.segment.previous>div.running.pb           { display: none; }
div.segment.previous>div.running.gold         { display: none; }
div.segment.previous>div.running.average      { display: none; }
div.segment.previous>div.running.worst        { display: none; }
div.segment.previous>div.running.split        { display: flex; width: 33%; order: 3; }
div.segment.previous>div.diff.pb              { display: flex; width: 33%; order: 2; }
div.segment.previous>div.diff.gold            { display: flex; width: 33%; order: 1; }
div.segment.previous>div.diff.average         { display: none; }
div.segment.previous>div.diff.worst           { display: none; }
div.segment.previous>div.running-diff.pb      { display: none; }
div.segment.previous>div.running-diff.gold    { display: none; }
div.segment.previous>div.running-diff.average { display: none; }
div.segment.previous>div.running-diff.worst   { display: none; }

/* Always show the final split */
div.segment:last-of-type { margin-top: auto; display: flex !important; }
